# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/prospect

# Server
PORT=3000
NODE_ENV=development

# Logging
LOG_LEVEL=info 
ENABLE_HTTP_LOGS=true


# Express
BODY_LIMIT=1mb

# OpenAI
OPENAI_API_KEY="your-openai-api-key-here"

# People Data Labs
PDL_API_KEY="your-pdl-api-key-here"